version_2.7.13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="firstChild"/>
   <xsd:complexType name="parent">
      <xsd:sequence>
         <xsd:element name="firstChild" type="firstChild" minOccurs="0"/>
         <xsd:element name="secondChild" type="secondChild" minOccurs="0"/>
         <xsd:element name="thirdChild" type="thirdChild" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="secondChild"/>
   <xsd:complexType name="thirdChild"/>
</xsd:schema>
